@page
@model Grid_Game.Areas.Games.Pages.Card_GameModel
@{
    ViewData["Title"] = "Brandon's Evil Card Game";
}

<!-- Settings Modal -->
<div class="modal fade hide" id="settingsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
            </div>
            <div class="modal-body">
                <p class="modal-content text-danger">Put settings here:</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="settingsModalOk" class="btn btn-primary text-light" data-dismiss="modal">Ok</button>
                <button type="button" id="settingsModalCancel" class="btn btn-dark text-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-auto" id="cardContainer"></div>
        <div class="col"></div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/card-game.css" asp-append-version="true" />
        <script src="~/js/card-game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/card-game.min.css" asp-append-version="true" />
        <script src="~/js/card-game.min.js" asp-append-version="true"></script>
    </environment>
}
