@page
@model Grid_Game.Areas.Games.Pages.Card_GameModel
@{
    ViewData["Title"] = "Brandon's Evil Card Game";
}

<div class="alert alert-warning">Ignore this page: It is a work in progress.</div>

<!-- Settings Modal -->
<div class="modal fade hide" id="settingsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
            </div>
            <div class="modal-body">
                <p class="modal-content text-danger">Put settings here:</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="settingsModalOk" class="btn btn-primary text-light" data-dismiss="modal">Ok</button>
                <button type="button" id="settingsModalCancel" class="btn btn-dark text-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div id="card-grid-col" class="col-10">
            <div class="card">
                <div class="card-body">
                    <table id="card-grid" class="text-center">
                        <tbody id="card-grid-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Other stuff -->
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/card-game.css" asp-append-version="true" />
        <script src="~/js/card-game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/card-game.min.css" asp-append-version="true" />
        <script src="~/js/card-game.min.js" asp-append-version="true"></script>
    </environment>
}
