@page
@model Grid_Game.Areas.Games.Pages.Card_GameModel
@{
    ViewData["Title"] = "Brandon's Evil Card Game";
}

<!-- Settings Modal -->
<div class="modal fade hide" id="instructionsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instructionsModalLabel">Instructions</h5>
            </div>
            <div class="modal-body">
                <h6>How to play</h6>
                <ul>
                    <li>There are 18 cards shuffled randomly. There are two cards of each number from 1 to 9. </li>
                    <li>Click a card to select it or unselect it.</li>
                    <li>Once you have chosen three of the cards, click the button to see their values.</li>
                    <li>Then, turn over the cards and they will be shuffled amongst each other.</li>
                    <li>Your goal is to select two cards of the same value. </li>
                    <li>Beware: the computer will give you the worst possible deck of cards!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="instructionsModalOk" class="btn btn-primary text-light" data-dismiss="modal">Ok</button>
                <button type="button" id="instructionsModalCancel" class="btn btn-dark text-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <div id="win-alert">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button id="restart-button" class="btn btn-block btn-danger" type="button">Restart</button>
            </div>
        </div>
    </div>
    <div id="card-grid-col" class="col-9">
        <table id="card-grid" class="text-center" cellpadding="10" cellspacing="5">
            <tbody id="card-grid-body">

            </tbody>
        </table>

        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <button id="turn-over-button" class="btn btn-primary" type="button">Turn Over</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- Other stuff -->
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/card-game.css" asp-append-version="true" />
        <script src="~/js/card-game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/card-game.min.css" asp-append-version="true" />
        <script src="~/js/card-game.min.js" asp-append-version="true"></script>
    </environment>
}
