@page
@model Grid_Game.Areas.Games.Pages.Strategy_GameModel
@{
    ViewData["Title"] = "Strategy Game";
}

<div class="row">
    
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/strategy-game.css" asp-append-version="true" />
        <script src="~/js/strategy-game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/strategy-game.min.css" asp-append-version="true" />
        <script src="~/js/strategy-game.min.js" asp-append-version="true"></script>
    </environment>
}
