@page
@model Grid_Game.Areas.Services.Pages.IndexModel

@{
    ViewData["Title"] = "Services";
}

<div class="row">
    <div class="col-12">
        <h1>Services</h1>

        <p><span class="text-danger">RooLLC Services is a work-in-progress. Check back later.</span></p>
    </div>
</div>
