@page
@model Grid_Game.Areas.Services.Pages.LinAlgModel
@{
    ViewData["Title"] = "LinAlg Calculator";
}
    <div class="row">&nbsp;</div>
    <div class="row">

        <div id="center-pane" class="col-9 col-sm-9 col-md-8 col-lg-8 col-xl-8">
            <div id="console-output-container">
                <div id="console-output"></div>
            </div>

            <div class="console-input-container">
                <div id="text-input-container">
                    <div class="text-input">
                        <div class="text-input-spacer">
                            <div id="console-input" class="text-input-control" role="textbox" contenteditable="true" placeholder="Enter expression here"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>


@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/linalg.css" asp-append-version="true" />
        <script src="~/js/linalg.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/linalg.min.css" asp-append-version="true" />
        <script src="~/js/linalg.min.js" asp-append-version="true"></script>
    </environment>
}
