@page
@model Grid_Game.Areas.Services.Pages.LinAlgModel
@{
    ViewData["Title"] = "LinAlg Calculator";
}
<div class="row">
    <div class="col-12">
        <h1>Lin Alg Calculator</h1>
    </div>
</div>    
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            Lin Alg Calculator is a free, online, console-based matrix calculator developed by Brandon Chen.
        </p>
    </div>
</div>
    
<div class="row">
        
    <div id="center-pane" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="console-output-container">
            <div id="console-output"></div>
        </div>

        <div class="console-input-container">
            <div id="text-input-container">
                <div class="text-input">
                    <div class="text-input-spacer">
                        <div id="console-input" class="text-input-control" role="textbox" contenteditable="true" placeholder="Enter command here"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
    
    
</div>


@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/linalg.css" asp-append-version="true" />
        <script src="~/js/linalg.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/linalg.min.css" asp-append-version="true" />
        <script src="~/js/linalg.min.js" asp-append-version="true"></script>
    </environment>
}
