@page
@model Grid_Game.Areas.Services.Pages.LinAlgModel
@{
    ViewData["Title"] = "LinAlg Calculator";
}

<div class="row">
    <!-- put your stuff here lol -->

    <div class="col-12">
        <h1>LinAlg Calculator</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            LinAlg Calculator is a free, online, console-based linear algebra calculator developed by Brandon Chen.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h6>Features</h6>
        <ul>
            <li>Fast, console-based math</li>
            <li>Row operations on integer matrices</li>
            <li>Reduction to REF and partial RREF forms with steps</li>
            <li>Determinants for square matrices</li>
            <li>More to come!</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <a class="btn btn-block btn-primary" role="button" href="https://roollc.com/Services/LinAlg/Calc">Go to LinAlg Calculator</a>
    </div>
    <div class="col"></div>
</div>


@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/linalg.css" asp-append-version="true" />
        <script src="~/js/linalg.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/linalg.min.css" asp-append-version="true" />
        <script src="~/js/linalg.min.js" asp-append-version="true"></script>
    </environment>
}
