@page
@model Grid_Game.Areas.Services.Pages.WhalculatorModel
@{
    ViewData["Title"] = "Whalculator";
}

<div class="row">
    <div class="col-12">
        <h1>Whalculator</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            Whalculator is a free, online, console-based scientific calculator developed by Ryan Afzal.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h6>Features</h6>
        <ul>
            <li>Fast, console-based math</li>
            <li>Variables</li>
            <li>User-defined functions</li>
            <li>Limited array operations</li>
            <li>Partial (explicit) and implicit differentiation and evaluation of derivatives</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <a class="btn btn-block btn-primary" role="button" href="https://calc.roollc.com">Go to Whalculator</a>
    </div>
    <div class="col"></div>
</div>