@page
@model Grid_Game.Areas.Services.Pages.WhalculatorModel
@{
    ViewData["Title"] = "Whalculator";
}

<div class="row">
    <div class="col-12">
        <h1>Whalculator</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            Whalculator is a free, online, console-based scientific calculator.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <a class="btn btn-block btn-primary" role="button" href="https://calc.roollc.com">Go to Whalculator</a>
    </div>
    <div class="col"></div>
</div>