@page
@model Grid_Game.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <h1>Rankings is still under construction</h1>

        <br />

        <p>
            RooLLC is an organization of a few friends making projects. The organization currently consists of:
            <ul>
                <li>Ryan Afzal</li>
                <li>Brandon Chen</li>
                <li>Brian Xu</li>
            </ul>
        </p>
    </div>
</div>
