@page
@model LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-12">
        <h1 class="text-info">Leaderboard</h1>
        <h4 id="total"></h4>
    </div>

    <br />
    <br />
    
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Losses</th>
                    <th scope="col">Total Games</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/leaderboard.js"></script>
} 