@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="row">
        <div class="col-12">
            <h1>Privacy</h1>

            <p>&copy; 2020 RooLLC. All Rights Reserved. We collect whatever data you give us. We won't sell your data, and it will be used only for our services.</p>
        </div>
    </div>
</div>
