@page
@model Grid_Game.Pages.GameModel
@{
    ViewData["Title"] = "Grid Game";
}

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-auto">
            <table id="tile-grid" class="text-center">
                <tbody id="tile-grid-body">
                    
                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/game.css" asp-append-version="true" />
        <script src="~/js/game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/game.min.css" asp-append-version="true" />
        <script src="~/js/game.min.js" asp-append-version="true"></script>
    </environment>
}
