@page
@model Grid_Game.Pages.GameModel
@{
    ViewData["Title"] = "Grid Game";
}

<!-- Modal -->
<div class="modal fade hide" id="difficultySelect" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="difficultySelectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="difficultySelectLabel">Difficulty</h5>
            </div>
            <div class="modal-body">
                <h6>How to play</h6>
                <ul>
                    <li>Click a tile to swap its color, and that of its entire row and column.</li>
                    <li>Win by making the entire grid white!</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="difficulty-2x2" class="btn btn-success" data-dismiss="modal">2&times;2</button>
                <button type="button" id="difficulty-4x4" class="btn btn-info" data-dismiss="modal">4&times;4</button>
                <button type="button" id="difficulty-6x6" class="btn btn-primary" data-dismiss="modal">6&times;6</button>
                <button type="button" id="difficulty-8x8" class="btn btn-warning" data-dismiss="modal">8&times;8</button>
                <button type="button" id="difficulty-10x10" class="btn btn-danger" data-dismiss="modal">10&times;10</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="win-alert">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Moves/Info -->
            <div class="card">
                <div class="card-body text-center align-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-text align-middle">Moves: <span id="game-moves" class="badge badge-dark text-light"></span></h5>
                            </div>
                            <div class="col-4">
                                <p class="display-4 card-title align-middle"><span id="game-size" class="badge text-light"></span></p>
                            </div>
                            <div class="col-4">
                                <h5 id="game-timer" class="card-tex align-middlet"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-auto">
            <table id="tile-grid" class="text-center">
                <tbody id="tile-grid-body">
                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/game.css" asp-append-version="true" />
        <script src="~/js/game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/game.min.css" asp-append-version="true" />
        <script src="~/js/game.min.js" asp-append-version="true"></script>
    </environment>
}
