@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to RooLLC. The site is currently still under construction. Feel free to play the <a asp-area="" asp-page="/Grid-Game">Grid Game</a>.</p>
</div>
