@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <h1 class="display-4">RooLLC</h1>

            <p class="lead">Welcome to the RooLLC official site.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">

    </div>
</div>
