@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>&copy; 2020 RooLLC. All Rights Reserved. We collect whatever data you give us. We won't sell your data, and it will be used only for our services.</p>
