
form [type=submit] {
    width: 80%;
    color: #ffffff;
    padding: 14px 20px;
    margin: 0;
    display: inline;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 32px;
}
.states {
    background-color: #1B6EC2;
}